<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Error</title>
</head>
<body>
	<h1 style="text-align: center;">Spring Boot Tutorial</h1>
	<h2 style="text-align: center;">Something went wrong. Please try again later.!</h2>
	<p>&nbsp;</p>
	<p style="text-align: center;"><a href='/'>Home</a></p>
</body>
</html>