<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Please sign in</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <h1 class="center">Spring Boot Tutorial</h1>
    <p class="error center" th:if="${param.error}">Invalid username or password.</p>
    <form class="login-form" method="post" th:action="@{/login}">
        <h2>Please sign in</h2>
        <p><label class="screenreader" for="username">Username</label>
            <input autofocus id="username" name="username" placeholder="Username" required type="text"></p>
        <p><label class="screenreader" for="password">Password</label>
            <input id="password" name="password" placeholder="Password" required type="password"></p>
        <button class="primary" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>
