<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <title>One Time Token</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <h1 class="center">Spring Boot Tutorial</h1>
    <p class="error center" th:if="${loginError}">Wrong user or password</p>
    <form class="login-form" id="ott-form" method="post" th:action="@{/ott/generate}">
        <h3>Request a One-Time Token</h3>
        <p>
            <label class="screenreader" for="ott-username">Username</label>
            <input id="ott-username" name="username" placeholder="Username" required type="text">
        </p>
        <button class="primary" form="ott-form" type="submit">Send Token</button>
    </form>
</div>
</body>
</html>