<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>One Time Token</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<div class="content">
    <h1 class="center">Spring Boot Tutorial</h1>
    <h2 class="center">Please check your email, your One Time Token (OTT) has been sent!</h2>
    <p style="text-align: center;font-size: 30px"><a href='/'>Home</a></p>
    <p style="text-align: center;font-size: 30px"><a href='/login/ott'>Login</a></p>
</div>
</body>
</html>