<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="main">
    <h2>Home Page!</h2>
    <div sec:authorize="isAuthenticated()">
        <p>Username:
            <span sec:authentication="name" th:text=${#strings.toUpperCase(#authentication.name)}></span>
        </p>
    </div>
    <div sec:authorize="isAnonymous()">
        <p>Username: Anonymous</p>
    </div>
    <p><a href=''
          hx-get="/public"
          hx-swap="innerHTML"
          hx-target="#main"
          hx-trigger="click">
        Public</a></p>
    <p>&nbsp;</p>
    <div sec:authorize="!isAuthenticated()">
        <p><a href='/login'>Login</a></p>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p><a href='/logout'>Logout</a></p>
    </div>
    <p>&nbsp;</p>
    <div sec:authorize="isAuthenticated()">
        <div sec:authorize="hasRole('ROLE_USER')">
            <p><a href=''
                  hx-get="/user"
                  hx-swap="innerHTML"
                  hx-target="#main"
                  hx-trigger="click">
                Private for User</a></p>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p><a href=''
                  hx-get="/admin"
                  hx-swap="innerHTML"
                  hx-target="#main"
                  hx-trigger="click">
                Private for Admin</a></p>
        </div>
    </div>
</div>
</body>
</html>






	
	
	